<section>
  <div class="pt-32">
    <div class="pg-hero">
      <h1 class="pg-mont-black pg-hero-title pg-c-primary">Shop healthy fruit and vegetables like never before</h1>
      <p class="pg-mont-light-italic pg-c-primary text-center mt-4 text-lg md:text-2xl md:mt-8">
        Skip the Store, Get the Goodness: Fresh Produce Delivered Fast & Fresh.
      </p>
      <div class="flex gap-4 mt-16 justify-center items-center w-full md:flex-row flex-col">
        <button class="pg-transparent-btn pg-ral-bold">Shop Now</button>
        <button class="pg-primary-btn pg-ral-bold">Learn More</button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="pb-32">
    <div class="pg-hero">
      <div class="pg-banner">
        <img
          class="object-contain w-full h-full mt-8 md:mt-16 pg-banner-img"
          src="./assets/banners/hero_banner.jpg"
          alt="Hero Banner">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="pb-32">
    <div class="pg-browse-products">
      <div class="pg-browse-banner flex flex-col items-center">
        <h1 class="pg-mont-black pg-hero-title pg-c-primary pt-16">Browse Product</h1>

        <p class="pg-ral-medium py-12 text-center">Discover our wide range of products, carefully curated to meet your needs.
          From vegetables to fruits, we have everything you need to have a healthy meal, straight from the farm.</p>

        <div class="pg-browse-products-list">
          @for (product of productMockData(); track product.id) {
            <app-product [productData]="product"></app-product>
          }
        </div>
      </div>
    </div>
  </div>
</section>
