<nav class="pg-desktop-navbar">
  <div class="pg-left-navbar flex items-center">
    <img
      priority
      ngSrc="./assets/logos/logo_placeholder.svg"
      width="48"
      height="48"
     alt="PG Logo">

    <a class="pg-ral-bold">Home</a>
    <a class="pg-ral-bold">About</a>
    <a class="pg-ral-bold">Services</a>
  </div>

  <div class="pg-right-navbar">
    <button class="pg-auth-btn pg-ral-bold">Login/Signup</button>

    <button class="pg-burger" id="burger">
      &#9776;
    </button>
  </div>
</nav>
