.footer-section {
  background-color: var(--pg-bg-black-alt);
  color: var(--pc-shade-1);
}
.pg-footer {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;

  p {
    font-size: 14px !important;
  }
}

.pg-footer-title {
  font-size: 24px;
  line-height: 32px;
}

.pg-footer-links-header {
  margin-bottom: 20px;
}

.pg-useful-links-items {
  display: flex;
  flex-direction: column;
  gap: 20px;

  a {
    text-decoration: none;
  }
}

.pg-footer-description {
  width: 35%;
}

@media screen and  (max-width: 767.98px) {
  .pg-footer-description {
    width: 100%;
  }
}
