<section class="footer-section">
  <div class="pt-20 pg-footer">
    <div class="flex flex-col md:flex-row w-full justify-between">
      <div class="flex flex-col pg-footer-description">
        <h1 class="pg-mont-bold pg-footer-title">Peculiar Gardens</h1>
        <p class="pg-ral-medium pt-8">
          Peculiar Gardens is committed to providing its customers with the freshest, most delicious produce possible.
          We use sustainable farming practices to ensure that our vegetables are grown in a way that is both
          healthy for the environment and for our customers.
        </p>
      </div>

      <div class="flex flex-col">
        <h2 class="pg-mont-bold pg-footer-links-header">Useful links</h2>
        <ul class="pg-useful-links-items pg-ral-medium">
          <li>
            About Us
          </li>
          <li>
            How we work
          </li>
          <li>
            Privacy Policy
          </li>
        </ul>
      </div>

      <div class="flex flex-col">
        <h2 class="pg-mont-bold pg-footer-links-header">Content</h2>
        <ul class="pg-useful-links-items pg-ral-medium">
          <li>
            Home
          </li>
          <li>
            Browse Product
          </li>
          <li>
            Blog
          </li>
        </ul>
      </div>

      <div class="flex flex-col">
        <h2 class="pg-mont-bold pg-footer-links-header">Contact Us</h2>
        <ul class="pg-useful-links-items pg-ral-medium">
          <li>
            hello&#64;peculiargardens.com
          </li>
          <li>
            021-123-456
          </li>
          <li>
            Social Media
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
