/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "../public/assets/peculiar-styles/montserrat-alt.scss";
@use "../public/assets/peculiar-styles/raleway";

:root {
  --primary-color: #2A9763;
  --secondary-color: #38C984;
  --text-color: #828282;
  --white: #fff;

  --primary-color-rgba: rgba(42, 151, 99, 0.2);
  --secondary-color-rgba: rgba(56, 201, 132, 0.2);

  // Shades
  --pc-shade-5: #000000;
  --pc-shade-4: #222222;
  --pc-shade-extra: #333333;
  --pc-shade-cart: #808080;
  --pc-shade-3: #4d4d4d;
  --pc-shade-2: #9d9d9d;
  --pc-shade-1: #ffffff;

  // GRADIENT COLOR
  --pc-gradient: linear-gradient(to right, #04a195, #b1e552);
  --pc-bg-grey: #f2f2f2;
  --pc-bg-secondary: rgba(0, 0, 0, 0.33);

  // Extras
  --pc-color-extra: rgba(0, 0, 0, 0.4);
  --pc-bg-prime-gray: #F6F6F6;
  --pg-bg-black-alt: #131313;

}


body {
  background-color: #fff;
  padding-left: 144px;
  padding-right: 144px;
  margin: 0;
  overflow-x: hidden;
}


.pg-c-primary {
  color: var(--primary-color);
}

.pg-c-secondary {
  color: var(--secondary-color);
}

.pg-primary-btn,
.pg-secondary-btn,
.pg-transparent-btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  width: 200px;
}

.pg-primary-btn {
  outline: var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
  border: none;
}

.pg-primary-btn:hover {
  background-color: var(--secondary-color);
}

.pg-secondary-btn {
  outline: var(--secondary-color);
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
}

.pg-secondary-btn:hover {
  background-color: var(--primary-color);
}

.pg-transparent-btn {
  outline: var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.pg-transparent-btn:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

@media screen and (min-width: 1440px) {
  body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media screen and (max-width: 767.98px) {
  body {
    padding: 0;
  }

  .pg-primary-btn, .pg-secondary-btn, .pg-transparent-btn {
    width: 150px
  }

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
